.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; } 

 
html {
	text-align: center;
	padding: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	background-color: #333;
	margin: 0 auto;
}
body {
	
	background-size: 100% 500px;
	background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Strait', sans-serif;
	text-transform: uppercase;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5, h6, p {
	font-size: 1.2em;
	line-height: 1.6em;
}
a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid;
}
a:hover {
	background: red;
}
.icon {
    font-family: 'Pictos Custom';
    -webkit-font-smoothing: antialiased;
    display: block;
}
[data-icon]:before {
	font-family: 'Pictos Custom';
	content: attr(data-icon);
	font-size: 64px;
	display: block;
	margin: 10px;
}


.container {
	margin: 0px 0px 0px;
	position: relative;
	z-index: 2;
}

#billboard {
	height: auto;
	padding: 0;
	margin: 0;
	min-height: 300px;
	border-top: 5px solid #c91b00;
	position: relative;
}
.flowplayer { 
   	width: 100%; 
   	background-color: #222;
   	position: relative;
   	z-index: -9999;
}
.flowplayer .fp-controls { 
   background-color: rgba(0, 0, 0, 0.4);
   display: none;
}
.flowplayer .fp-timeline { 
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
.flowplayer .fp-progress { 
	background-color: rgba(219, 0, 0, 1);
	display: none;
}
.flowplayer .fp-buffer { 
	background-color: rgba(249, 249, 249, 1);
	display: none;
}
#prisonYard {
	display: block;
	position: absolute;
	z-index: 1;
	text-align: left;
	margin: 50px;
	bottom: 0px;
	left: 0;
	text-shadow: 0px 0px 14px rgba(0,0,0,.4);
}
h1#title {
	font-size: 150px;
	text-transform: uppercase;
	line-height: 150px;
	margin: 0 0 0px;
	padding: 0;
	background: rgba(0,0,0,.4);
	
}
h2#subtitle {
	display: ;
	font-size: 50px;
	color: white;
	line-height: 50px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background: rgba(0,0,0,.7);
}


#registerButtonWrapper {
	position: relative;
	display: block;
	text-align: center;
}
a.btn {
	background-color: #c91b00;
	display: inline-block;
	position: relative;
	font-size: 18px;
	line-height: 10px;
	padding: 20px 35px;
	margin: 0px auto 20px;
	border: none;
	border-radius: 30px;
	-webkit-transition: .1s ease-out;
	top: 0;
	margin-top: -55px;
	text-transform: uppercase;
	font-weight: bold;
}
a.btn:hover {
	background-color: #f72200;
}

#description {
	background: #393939;
	color: whitesmoke;
	padding: 50px 15%;
	display: block;
}

#information {
	position: relative;
	background: whitesmoke;
	color: #333;
	padding: 30px 5%;
	border-top: 1px solid #ccc;
}
.three {
	width: 27%;
	padding: 10px 3%;
	margin: 30px 0;
	float: left;
	text-align: center;
	vertical-align: top;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.three:first-child,
.three:last-child {
	border: none;
}
#socialWrapper {
	color: white;
	height: auto;
	float: none;
	clear: both;
	padding: 5px 20px;
	margin: 0 auto;
	width: intrinsic;
}
#socialWrapper a:hover {
	background: none;
	border:none;
}
.fb-like {
	text-align: center;
}

#expect {
	background: white;
	border-top: 1px solid #ccc;
}

#expect {
	background: white;
	color: #333;
	padding: 50px 5%;
	text-align: left;
}
footer {
	padding: 50px;
}
@media screen and (max-width: 580px) {
	.flowplayer { 
	   	width: 100%; 
	   	background-color: #222;
	   	position: relative;
	   	z-index: 1;
	}
	#prisonYard {
		display: block;
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	h1#title {
		font-size: 40px;
		text-transform: uppercase;
		line-height:40px;
		margin: 0;
		padding: 2% 5%;
		background: 
		rgba(0,0,0,.4);
	}
	h2#subtitle {
		display: ;
		font-size: 20px;
		color: white;
		line-height: 20px;
		margin: 0;
		padding: 5%;
		text-transform: uppercase;
		background: rgba(0,0,0,.7);
	}
	.icon {
	    font-family: 'Pictos Custom';
	    -webkit-font-smoothing: antialiased;
	    display: block;
	    float: left;
	}
	[data-icon]:before {
		font-family: 'Pictos Custom';
		content: attr(data-icon);
		font-size: 40px;
		display: inline;
		margin: 0 10px 0 0;
	}
	#informationWrapper .three {
		width: 90%;
		float: none;
		border: none;
		text-align: left;
		border:none;
		margin:10% 0 20% 0;
		padding: 0 0;
	}
	#informationWrapper .three h2 {
		margin: 0;
	}
	#informationWrapper .three:last-child {
		border: none;
	}
	a.btn {
		width: 100%;
		margin: -60px 0 10px 0;
		padding: 20px 0;
		line-height: 1.2em;
	}
	#mc_embed_signup {
		width: 100%;
	}
	#mc_embed_signup input#mce-EMAIL.email {
		position: relative;
		width: 90%;
		padding:  20px 5%;
		border-radius: 0px;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		margin: 0;	
		text-align: center;
	}
	#mc_embed_signup input#mc-embedded-subscribe.button {
		position: relative;
		width: 100%;
		border-radius: 0;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}