html {
	font-family: 'Strait', sans-serif;
	color: white;
	font-size: 15px;
	background: #111;
	max-width: 1500px;
	margin: 0 auto;
}
div#wrapper {
	background-image: url(../images/concrete_wall.png);
	background-repeat: repeat;
	background-position: center top;
	background-color: #333;
	
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5, h6, p {
	font-size: 1em;
}
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid;
}
a:hover {
	background: red;
}
a.button {
	background-color: #c91b00;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	border: 1px solid #000000;
	border-radius: 10px;
	-webkit-transition: .1s ease-out;
}
a.button:hover {
	background-color: #f72200;
}
header {
	background: ;
	padding: 20px 5%;
	position: relative;
}
header a#logo {
	font-size: 3em;
	border: none;
	text-transform: uppercase;
}
header a#logo span {
	color: #909090;
	font-size: .5em;
	display: block;
}
header nav {
	position: absolute;
	right: 5%;
	top: 0;
}
header nav a {
	background: #222;
	border-bottom: 2px solid #ccc;
	display: block;
	text-align: center;
	text-transform: uppercase;
	float: left;
	margin: 0 5px;
	padding: 20px;
	font-size: 1.5em;
	-webkit-transition: .1s ease-out;
}
header nav a span {
	font-size: .6em;
	color: #ccc;
	display: block;
}
header nav a:hover {
	padding-top: 40px;
	background: #444;
	border-bottom: 2px solid red;
}
section#billboard {
	padding: 2% 5%;
}
section#billboard h1 {
	text-align: center;
	text-transform: uppercase;
	line-height: .8em;
	font-size: 7em;
	margin: 80px auto 0;
	float: none;
	width: 80%;
}
section#billboard div#video {
	display: block;
	float: none;
	margin: 20px auto;
	width: 80%;
	max-width: 700px;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,.5);
	max-width: 900px;
}
section#underBillboard {
	padding: 0 0 2%;
	text-align: center;
}
div#banner {
	display: inline-block;
	background: rgba(0,0,0,.5);
	padding: 1% 2%;
	margin: 5%;
	text-align: center;
	font-size: 1.25em;
	border-radius: 4px;
}
footer {
	background: #111;
	padding: 5%;
	text-align: center;
}
@media screen and (min-width: 1200px) {
	html {
		max-width: none;
	}
	header {
		background: rgba(0,0,0,.5);
		position: fixed;
		width: 30%;
		height: 100%;
		border-right: 5px solid black;
	}
	header a#logo {
		font-size: 6em;
	}
	header nav {
		position: relative;
	}
	header nav a {
		width: 100%;
		margin-top: 20px;
		border: 1px solid;
	}
	div#content,
	footer {
		margin-left: 40%;
		width: 60%;
		padding-left: 0;
		padding-right: 0;
	}

}
@media screen and (max-width: 1180px) {
	section#billboard h1 {
		text-align: center;
		margin: 5% auto;
		float: none;
		width: 80%;
	}
	section#billboard div#video {
		float: none;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	header {
		background: #111;
		height: auto;
	}
	header a#homeLink {
		float: none;
	}
	header nav {
		position: relative;
		float: none;
		padding: 2% 5%;
		width: 100%;
	}
	header nav a {
		width: 31%;
		margin: 1%;
		padding: 2% 0;
	}
	header nav a:hover {
		padding: 2% 0;
	}
	section#billboard h1 {
		display: block;
		float: none;
		font-size: 5em;
		padding: 2% 0;
	}
	section#billboard div#video {
	}
}
@media screen and (max-width: 580px) {
	header nav a {
		width: auto;
		margin: 2% 2% 2% 0;
		padding: 3%;
		text-align: center;
		border: 2px solid #ccc;
		font-size: 1em;
	}
	header nav a span {
		display: none;
	}
	section#billboard h1 {
		font-size: 2.5em;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	html {
		background-image: url(../images/concrete_wall@2x.png);
	}
}